# Imports

In [1]:
import os
import folium
import openpyxl
import pandas as pd
import geopandas as gpd

# Read and edit data

In [2]:
autos = pd.read_csv('../Ausgabedateien/autos_aufbereitet.csv')

In [3]:
autos.head(2)

,Unnamed: 0,web-scraper-order,web-scraper-start-url,Preis,plz,jahr,ps-stand,Farbe,PLZ4,%_IN_GDE,KTKZ,GDENR,GDENAMK,Hist.-Nummer,Kanton,Bezirks-nummer,Bezirksname,BFS Gde-nummer,Gemeindename,Datum der Aufnahme
0,0,1669622809-189,https://www.autolina.ch/elektro-auto,49'650,8640,NaN,231.0,silber,8640.0,3.91,SZ,1322.0,Freienbach,11961.0,SZ,503.0,Höfe,1322,Freienbach,1848-09-12
1,1,1669622809-190,https://www.autolina.ch/elektro-auto,42'500,6464,2022.0,204.0,weiss,6464.0,0.36,UR,1205.0,Bürglen (UR),11506.0,UR,400.0,Kt. Uri,1205,Bürglen (UR),1848-09-12

In [4]:
autos = autos.astype({"BFS Gde-nummer":int})
autos.head(2)

,Unnamed: 0,web-scraper-order,web-scraper-start-url,Preis,plz,jahr,ps-stand,Farbe,PLZ4,%_IN_GDE,KTKZ,GDENR,GDENAMK,Hist.-Nummer,Kanton,Bezirks-nummer,Bezirksname,BFS Gde-nummer,Gemeindename,Datum der Aufnahme
0,0,1669622809-189,https://www.autolina.ch/elektro-auto,49'650,8640,NaN,231.0,silber,8640.0,3.91,SZ,1322.0,Freienbach,11961.0,SZ,503.0,Höfe,1322,Freienbach,1848-09-12
1,1,1669622809-190,https://www.autolina.ch/elektro-auto,42'500,6464,2022.0,204.0,weiss,6464.0,0.36,UR,1205.0,Bürglen (UR),11506.0,UR,400.0,Kt. Uri,1205,Bürglen (UR),1848-09-12

In [5]:
Angebote_pro_gemeinde = pd.DataFrame(autos['BFS Gde-nummer'].value_counts().rename_axis('BFS-Nummer').reset_index(name='Anzahl'))
Angebote_pro_gemeinde

     BFS-Nummer  Anzahl
0          4746      99
1           230      61
2          1059      54
3             4      49
4          3352      43
..          ...     ...
331         983       1
332         113       1
333        6708       1
334          84       1
335         662       1

[336 rows x 2 columns]

In [6]:
Angebote_pro_gemeinde = Angebote_pro_gemeinde.astype({"Anzahl":int})
Angebote_pro_gemeinde = Angebote_pro_gemeinde.astype({"BFS-Nummer":int})
Angebote_pro_gemeinde.head(2)

   BFS-Nummer  Anzahl
0        4746      99
1         230      61

In [7]:
gemeinden = pd.read_csv('../Quelldateien/Gemeindestand.csv')

# Safe result to csv

In [8]:
Angebote_pro_gemeinde.to_csv('../Ausgabedateien/anzahl_autos_pro_gemeinde.csv')

# Jupyter notebook --footer info

In [9]:
import os
import platform
import socket
from platform import python_version
from datetime import datetime

print('-----------------------------------')
print(os.name.upper())
print(platform.system(), '|', platform.release())
print('Datetime:', datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
print('Python Version:', python_version())
print('-----------------------------------')

-----------------------------------
NT
Windows | 10
Datetime: 2022-12-26 17:15:30
Python Version: 3.10.1
-----------------------------------