## Table of contents

[1. Imports](#section_1)<br>
[2. Import JSON of Charging points](#section_2)<br>
[3. Dataframes für jeden Operator erstellen](#section_3)<br>
[4. Alle Daten in ein Dataframe speichern](#section_4)<br>
[5. Koordinaten auslesen](#section_5)<br>
[6. Adresse aus DF lesen, abflachen und zu neuem DF hinzufügen](#section_6)<br>
[6.1 Adressen auslesen und flach machen](#section_6_1)<br>
[6.2 Operator Names auslesen, um diese zu DF hinzuzufügen](#section_6_2)<br>
[6.3 Benötigte Attribute zu DF einlesen](#section_6_3)<br>
[7. finalen Dataframe in csv schreiben](#section_7)<br>
[8. Jupyter notebook --footer info](#section_8)<br>

# Imports
<a id='section_1'></a>

In [33]:
# libraries
import os
import fnmatch
import pandas as pd
import json
from pandas.io.json import json_normalize
import re
import numpy as np

# Ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Import JSON of Charging points
<a id='section_2'></a>

In [34]:
# Get current working directory
print('Current working directory:', os.getcwd())

#read data and save as dataframe
raw_data = json.load(open('../Quelldateien/Ladestellen.json')) #Json from opendata.swiss
df_raw_alpha = pd.DataFrame(raw_data["EVSEData"])
df_raw_alpha

Current working directory: c:\Users\jkunz\OneDrive\1. Studium\3. Semester\3. Data Analytics\Semesterprojekt LN\neues GH\DA_LN_neues_Github\Datenaufbereitungen

,EVSEDataRecord,OperatorID,OperatorName
0,"[{'Address': {'City': 'Davos', 'Country': 'CHE...",CH*EWD,EWD Elektrizitätswerk Davos AG
1,"[{'Address': {'City': 'Dietikon', 'Country': '...",CH*TES,Tesla
2,[],CH*MARTINHERTACH,Martin Hertach
3,"[{'Address': {'City': 'Buchs', 'Country': 'CHE...",CH*CHOCOLATFREY,Chocolat Frey AG
4,"[{'Address': {'City': 'Wolfenschiessen', 'Coun...",CH*REPOFF,PLUG’N ROLL
5,"[{'Address': {'City': 'Herrliberg', 'Country':...",CH*HER,Elektrizitätswerk Herrliberg
6,"[{'Address': {'City': 'Interlaken', 'Country':...",CH*BVS,Backpackers Villa Sonnenhof
7,"[{'Address': {'City': 'Schwyz', 'Country': 'CH...",CH*EBS,ebs Energie AG
8,"[{'Address': {'City': 'Dietikon', 'Country': '...",CH*DIE,Stadt Dietikon
9,"[{'Address': {'City': 'Altendorf', 'Country': ...",CH*LIDL,Lidl Schweiz
10,"[{'Address': {'City': 'Sarnen', 'Country': 'CH...",CH*EWO,Elektrizitätswerk Obwalden
11,"[{'Address': {'City': 'Niederbüren', 'Country'...",CH*AVIA,AVIA
12,"[{'Address': {'City': 'Ittigen', 'Country': 'C...",CH*ION,IONITY
13,"[{'Address': {'City': 'Fieschertal', 'Country'...",CH*ENMOBILECHARGE,en mobilecharge
14,"[{'Address': {'City': 'Täsch', 'Country': 'CHE...",CH*TAE,Matterhorn Terminal Täsch
15,[],CH*BGDI,Bgdi_Admin
16,"[{'Address': {'City': 'Zuchwil', 'Country': 'C...",CH*CCC,Move
17,"[{'Address': {'City': 'Rudolfstetten', 'Countr...",CH*MOBILECHARGE,mobilecharge
18,[],CH*TEST,Test Operator
19,"[{'Address': {'City': 'Silvaplana', 'Country':...",CH*REP,PLUG’N ROLL
20,"[{'Address': {'City': 'Morcote', 'Country': 'C...",CH*AIL,AIL
21,[],CH*SCHARGE,S-Charge
22,[],CH*IBC,IBC
23,"[{'Address': {'City': 'Freienbach', 'Country':...",CH*PARKCHARGE,PARK & CHARGE
24,"[{'Address': {'City': 'Studen BE', 'Country': ...",CH*MIG,Migrol Fast Charging
25,"[{'Address': {'City': 'Altdorf', 'Country': 'C...",CH*EWACHARGE,EWAcharge
26,"[{'Address': {'City': 'Gossau', 'Country': 'CH...",CH*SWISSCHARGE,Swisscharge
27,"[{'Address': {'City': 'Buchs', 'Country': 'CHE...",CH*PACEMOBILITY,PAC e-moblity
28,"[{'Address': {'City': 'Bussigny', 'Country': '...",CHEVP,evpass
29,"[{'Address': {'City': 'Aarau', 'Country': 'CH'...",CH*IBA,Eniwa
30,"[{'Address': {'City': 'Altendorf', 'Country': ...",CH*EVAEMOBILITAET,EVA E-Mobilität
31,"[{'Address': {'City': 'Horgen', 'Country': 'CH...",CH*MOBIMOEMOBILITY,Mobimo emobility
32,"[{'Address': {'City': 'Lamone', 'Country': 'CH...",CH*ECU,eCarUp
33,"[{'Address': {'City': 'Suhr', 'Country': 'CHE'...",CH*FASTNED,Fastned

# Dataframes für jeden Operator erstellen
<a id='section_3'></a>

In [35]:
oper_list = df_raw_alpha["OperatorName"].values.tolist()

dataframes = []
for i in range(len(oper_list)):
     locals()['df' + str(i) ] = pd.DataFrame(df_raw_alpha.loc[i, 'EVSEDataRecord'])
     locals()['df' + str(i) ]['OperatorName'] = oper_list[i-1]
     dataframes.append(locals()['df' + str(i) ])

# Alle Daten in ein Dataframe speichern
<a id='section_4'></a>

In [36]:
df_raw = pd.concat(dataframes)
df_raw

,Address,IsOpen24Hours,ChargingStationId,GeoCoordinates,lastUpdate,HotlinePhoneNum,ClearinghouseID,OpeningTimes,GeoChargingPointEntrance,HubOperatorID,...,MaxCapacity,PaymentOptions,AdditionalInfo,ChargingPoolID,deltaType,ValueAddedServices,AuthenticationModes,DynamicPowerLevel,HardwareManufacturer,OperatorName
0,"{'City': 'Davos', 'Country': 'CHE', 'HouseNum'...",False,CH*EWD*E123*0033,{'Google': '46.81352 9.84591'},None,,None,[],{'Google': 'None None'},None,...,None,[Direct],[None],None,None,[None],[Direct Payment],None,None,Fastned
1,"{'City': 'Davos', 'Country': 'CHE', 'HouseNum'...",False,CH*EWD*E123*0027,{'Google': '46.8135 9.84586'},None,,None,[],{'Google': 'None None'},None,...,None,[Direct],[None],None,None,[None],[Direct Payment],None,None,Fastned
2,"{'City': 'Davos', 'Country': 'CHE', 'HouseNum'...",False,CH*EWD*E123*0023,{'Google': '46.80008 9.83121'},None,,None,[],{'Google': 'None None'},None,...,None,[Direct],[None],None,None,[None],[Direct Payment],None,None,Fastned
3,"{'City': 'Davos', 'Country': 'CHE', 'HouseNum'...",False,CH*EWD*E123*0032,{'Google': '46.800129999999996 9.83124'},None,,None,[],{'Google': 'None None'},None,...,None,[Direct],[None],None,None,[None],[Direct Payment],None,None,Fastned
4,"{'City': 'Davos', 'Country': 'CHE', 'HouseNum'...",False,CH*EWD*E123*0005,{'Google': '46.79978 9.83104'},None,,None,[],{'Google': 'None None'},None,...,None,[Direct],[None],None,None,[None],[Direct Payment],None,None,Fastned
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,"{'City': 'Suhr', 'Country': 'CHE', 'HouseNum':...",False,50131,{'Google': '47.380548 8.109115'},None,+41 78 844 20 70,None,[],{'Google': 'None None'},None,...,None,None,[None],None,None,[None],[NFC RFID Classic],None,None,eCarUp
4,"{'City': 'Lenzburg', 'Country': 'CHE', 'HouseN...",False,50231,{'Google': '47.392556 8.160158'},None,+41 78 844 20 70,None,[],{'Google': 'None None'},None,...,None,None,[None],None,None,[None],[NFC RFID Classic],None,None,eCarUp
5,"{'City': 'Lenzburg', 'Country': 'CHE', 'HouseN...",False,50231,{'Google': '47.392556 8.160158'},None,+41 78 844 20 70,None,[],{'Google': 'None None'},None,...,None,None,[None],None,None,[None],[NFC RFID Classic],None,None,eCarUp
6,"{'City': 'Lenzburg', 'Country': 'CHE', 'HouseN...",False,50231,{'Google': '47.392556 8.160158'},None,+41 78 844 20 70,None,[],{'Google': 'None None'},None,...,None,None,[None],None,None,[None],[NFC RFID Classic],None,None,eCarUp
7,"{'City': 'Lenzburg', 'Country': 'CHE', 'HouseN...",False,50231,{'Google': '47.392556 8.160158'},None,+41 78 844 20 70,None,[],{'Google': 'None None'},None,...,None,None,[None],None,None,[None],[NFC RFID Classic],None,None,eCarUp

# Koordinaten auslesen
<a id='section_5'></a>

##### hier versuchen eigenen Regex zu bauen

In [37]:
# Getting single values from as string
coordinates = df_raw.GeoCoordinates

# Now loop through the coordinates object
out_list = []
for i in coordinates:
    # Getting single values from as string
    coord_str = "".join(i.values())
    # Splitting string by white space
    coords = re.findall(r'\S+', coord_str)
    out_list.append(coords)
    
out_list

# Create data frame from the list
df = pd.DataFrame(out_list, columns =['Latitude', 'Longitude'])
print(df.dtypes)
print(df)

# Here we have still strings of the which need to be converted to integers

# First: exclude white space using pythons lambda function
df['Latitude'] = df['Latitude'].apply(lambda x: x.strip())
df['Longitude'] = df['Longitude'].apply(lambda x: x.strip())

# Second: cange to integer values
df['Latitude'] = df['Latitude'].astype(float)
df['Longitude'] =  df['Longitude'].astype(float)
print(df.dtypes)

Latitude     object
Longitude    object
dtype: object
                Latitude Longitude
0               46.81352   9.84591
1                46.8135   9.84586
2               46.80008   9.83121
3     46.800129999999996   9.83124
4               46.79978   9.83104
...                  ...       ...
7105           47.380548  8.109115
7106           47.392556  8.160158
7107           47.392556  8.160158
7108           47.392556  8.160158
7109           47.392556  8.160158

[7110 rows x 2 columns]
Latitude     float64
Longitude    float64
dtype: object

In [38]:
df.head(3)

   Latitude  Longitude
0  46.81352    9.84591
1  46.81350    9.84586
2  46.80008    9.83121

# Adresse aus DF lesen, abflachen und zu neuem DF hinzufügen
<a id='section_6'></a>

## Adressen auslesen und flach machen
<a id='section_6_1'></a>

In [39]:
df_flatted_addr = pd.json_normalize(df_raw['Address'])
df_flatted_addr.head(3)

,City,Country,HouseNum,PostalCode,Street,Floor,Region,Timezone,ParkingSpot,ParkingFacility
0,Davos,CHE,nan,7260,Bahnhofstrasse,None,None,None,None,None
1,Davos,CHE,nan,7260,Bahnhofstrasse,None,None,None,None,None
2,Davos,CHE,49a,7270,Talstrasse,None,None,None,None,None

In [40]:
df_flatted_addr['City'].size

7110

## Operator Names auslesen, um diese zu DF hinzuzufügen
<a id='section_6_2'></a>

In [41]:
list = []
for index, row in df_raw.iterrows():
    list.append(row['OperatorName'])

df_operators = pd.DataFrame (list, columns = ['OperatorName'])
df_operators

     OperatorName
0         Fastned
1         Fastned
2         Fastned
3         Fastned
4         Fastned
...           ...
7105       eCarUp
7106       eCarUp
7107       eCarUp
7108       eCarUp
7109       eCarUp

[7110 rows x 1 columns]

## Benötigte Attribute zu DF einlesen
<a id='section_6_3'></a>

In [42]:
df['City'] = df_flatted_addr['City']
df['Country'] = df_flatted_addr['Country']
df['PostalCode'] = df_flatted_addr['PostalCode']
df['Street'] = df_flatted_addr['Street']

df['OperatorName'] = df_operators['OperatorName']

In [43]:
df.head(2)

   Latitude  Longitude   City Country PostalCode          Street OperatorName
0  46.81352    9.84591  Davos     CHE       7260  Bahnhofstrasse      Fastned
1  46.81350    9.84586  Davos     CHE       7260  Bahnhofstrasse      Fastned

In [44]:
df['City'].size

7110

# Dataframe mit Postcodes abgleichen, da gewisse leere Einträge haben

In [45]:
plz = pd.read_csv('../Quelldateien/plz_gemeinde.csv') #csv with Names of "Gemeinden" and Postalcodes
plz['PLZ4'].replace('', np.nan, inplace=True)
plz['PLZ4'].replace('0', np.nan, inplace=True)
plz.dropna(subset=['PLZ4'], inplace=True)
plz['PLZ4']=plz['PLZ4'].astype(int)
plz.head(5)

   PLZ4  %_IN_GDE KTKZ  GDENR             GDENAMK
0  8914    100.00   ZH    1.0     Aeugst am Albis
1  8909     14.34   ZH    2.0  Affoltern am Albis
2  8910     85.66   ZH    2.0  Affoltern am Albis
3  8906    100.00   ZH    3.0          Bonstetten
4  6340      0.77   ZH    4.0     Hausen am Albis

In [46]:
# df =  pd.merge(left=df, right=plz, how='left', left_on='City', right_on='GDENAMK')
# Test
df

,Latitude,Longitude,City,Country,PostalCode,Street,OperatorName
0,46.813520,9.845910,Davos,CHE,7260,Bahnhofstrasse,Fastned
1,46.813500,9.845860,Davos,CHE,7260,Bahnhofstrasse,Fastned
2,46.800080,9.831210,Davos,CHE,7270,Talstrasse,Fastned
3,46.800130,9.831240,Davos,CHE,7270,Talstrasse,Fastned
4,46.799780,9.831040,Davos,CHE,7270,Talstrasse,Fastned
...,...,...,...,...,...,...,...
7105,47.380548,8.109115,Suhr,CHE,5034,Rastplatz Suhr A1,eCarUp
7106,47.392556,8.160158,Lenzburg,CHE,5600,Rastplatz Lenzburg A1,eCarUp
7107,47.392556,8.160158,Lenzburg,CHE,5600,Rastplatz Lenzburg A1,eCarUp
7108,47.392556,8.160158,Lenzburg,CHE,5600,Rastplatz Lenzburg A1,eCarUp
7109,47.392556,8.160158,Lenzburg,CHE,5600,Rastplatz Lenzburg A1,eCarUp

df.rename({'PLZ4': 'X', 'b': 'Y'}, axis=1, inplace=True)

## drop unnecessary columns

In [47]:
""" df = df.drop(['GDENR', '%_IN_GDE', 'GDENAMK', 'PostalCode'], axis=1)
df.head(2) """

" df = df.drop(['GDENR', '%_IN_GDE', 'GDENAMK', 'PostalCode'], axis=1)\ndf.head(2) "

## rename columns

In [48]:
""" df = df.rename({'PLZ4': 'PostalCode', 'KTKZ':'Canton'}, axis=1, inplace=False)
df.head(2) """

" df = df.rename({'PLZ4': 'PostalCode', 'KTKZ':'Canton'}, axis=1, inplace=False)\ndf.head(2) "

## drop Rows with no postal code

In [49]:
df['PostalCode'].replace('', np.nan, inplace=True)
df['PostalCode'].replace('0', np.nan, inplace=True)
df.dropna(subset=['PostalCode'], inplace=True)

# finalen Dataframe in csv schreiben
<a id='section_7'></a>

In [50]:
df.to_csv('../Ausgabedateien/locations_Ladestationen.csv')

#### Ladestellen nach Gemeinde zählen und als CSV speichern

In [51]:
ladestellen_pro_gemeinde = df['PostalCode'].value_counts().rename_axis('Postleitzahl').reset_index(name='Anzahl')
print (ladestellen_pro_gemeinde)

     Postleitzahl  Anzahl
0            6340      97
1               -      71
2            6300      53
3            9015      51
4            6010      49
...           ...     ...
1012        26316       1
1013         9536       1
1014         6344       1
1015        45739       1
1016         5304       1

[1017 rows x 2 columns]

In [52]:
ladestellen_pro_gemeinde.to_csv('../Ausgabedateien/ladestellen_pro_gemeinde.csv')

#### Ladestellen nach Kanton zählen und als CSV speichern

In [53]:
ladestellen_pro_kanton = df['PostalCode'].value_counts().rename_axis('Postleitzahl').reset_index(name='Anzahl')

#### Anzahl pro PLZ in Liste mit allen Gemeinden schreiben für QGIS

# Jupyter notebook --footer info
<a id='section_8'></a>

In [54]:
import os
import platform
import socket
from platform import python_version
from datetime import datetime

print('-----------------------------------')
print(os.name.upper())
print(platform.system(), '|', platform.release())
print('Datetime:', datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
print('Python Version:', python_version())
print('-----------------------------------')

-----------------------------------
NT
Windows | 10
Datetime: 2022-12-17 12:35:50
Python Version: 3.10.1
-----------------------------------